<header id="header-section">
  <div id="site-logo-container">
    <div class="site-logo">
      <a routerLink="/">
        <img src="assets/images/header-logo.png">
      </a>
    </div>
  </div>
  <div id="user-status" *ngIf="userStatus">
    <div class="user">
      <div class="username">
        <mat-icon class="user-icon">{{userStatus.vip_ip ? 'store' : 'account_circle'}}</mat-icon>
        <span>{{userStatus.vip_ip ? 'Epicerie' : userStatus.user.username}}</span>
      </div>
      <div class="login">
        <a *ngIf="userStatus.vip_ip" [href]="userStatus.oauth_url">Se connecter
          <mat-icon>exit_to_app</mat-icon>
        </a>
        <a routerLink="" *ngIf="!userStatus.vip_ip" (click)="disconnect()">Se déconnecter
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </div>
    </div>
  </div>
</header>
<nav id="navigation">
  <mat-progress-bar [mode]="progressBarMode" value="100"></mat-progress-bar>
</nav>
