<div class="home-container">
  <h1>Gestion produits</h1>

  <nav class="menu">

    <div class="menu-item-container">
      <div class="menu-item" routerLink="/articles">
        <div class="menu-item-title">Ajouter un article au réapprovisionnement</div>
        <div class="menu-item-icon-container">
          <div class="menu-item-icon">
            <mat-icon>add_shopping_cart</mat-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-item-container">
      <div class="menu-item" routerLink="/supplying">
        <div class="menu-item-title">Consulter les articles à réapprovisionner</div>
        <div class="menu-item-icon-container">
          <div class="menu-item-icon">
            <mat-icon>list</mat-icon>
          </div>
        </div>
      </div>
    </div>

  </nav>
</div>
