<div class="home-container">

  <nav class="menu">
    <ng-container *ngFor="let menuItem of menuItems">
      <div *ngIf="!menuItem.hidden" class="menu-item-container">
        <a class="menu-item" [routerLink]="menuItem.url">
          <div class="menu-item-title">{{menuItem.label}}</div>
          <div class="menu-item-icon-container">
            <div class="menu-item-icon">
              <mat-icon>{{menuItem.icon}}</mat-icon>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </nav>

  <br />
  <br />

  <nav class="menu">
    <ng-container *ngFor="let menuItem of menuItemsOther">
      <div *ngIf="!menuItem.hidden" class="menu-item-container">
        <a class="menu-item" [routerLink]="menuItem.url">
          <div class="menu-item-title">{{menuItem.label}}</div>
          <div class="menu-item-icon-container">
            <div class="menu-item-icon">
              <mat-icon>{{menuItem.icon}}</mat-icon>
            </div>
          </div>
        </a>
      </div>
    </ng-container>
  </nav>
</div>
