<h1 mat-dialog-title>Ajouter au réapprovisionnement</h1>
<div mat-dialog-content>

  <p>Le produit suivant sera ajouté à liste des produits à réapprovisionner.</p>
  <div>{{article.designation}}</div>
  <div>{{article.fournisseur.nom}}</div>
  <div>{{article.famille.nom}}</div>

  <h3>Quantité à réapprovisionner</h3>

  <div class="quantity-choices">
    <div class="quantity-choice" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">
      <div class="quantity-choice-container" [class.quantity-selected]="quantity == number" (click)="quantity = number">
        <div class="quantity-choice-value">{{number}}</div>
      </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button color="accent" (click)="cancel()">Annuler</button>
  <button mat-button color="primary" (click)="submit()" cdkFocusInitial>Ajouter</button>
</div>
