<div class="articles">

  <div class="search-bar">
    <mat-form-field>
      <input matInput #searchInput="matInput" (keyup)="applyFilter($event.target.value)"
             placeholder="Recherche (code barre, désignation ou fournisseur)">
    </mat-form-field>
    <button mat-raised-button (click)="resetFilter()">Effacer</button>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> Désignation - Fournisseur</th>
      <td mat-cell *matCellDef="let article">
        <span>{{article.designation}}</span><br><span
        class="fournisseur">{{article.fournisseur.nom.toLowerCase()}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="famille">
      <th mat-header-cell *matHeaderCellDef> Famille</th>
      <td mat-cell *matCellDef="let article">
        <span class="famille">{{article.famille.nom.toLowerCase()}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="prix_vente">
      <th mat-header-cell *matHeaderCellDef> Prix</th>
      <td mat-cell *matCellDef="let article"> {{article.prix_vente | currency : 'EUR' : 'symbol' : '1.2' : 'fr' }} </td>
    </ng-container>

    <ng-container matColumnDef="rayon">
      <th mat-header-cell *matHeaderCellDef> Emplacement rayon</th>
      <td mat-cell *matCellDef="let article"> {{article.rayon?.libelle}} </td>
    </ng-container>

    <ng-container matColumnDef="emplacement">
      <th mat-header-cell *matHeaderCellDef> Emplacement stock</th>
      <td mat-cell *matCellDef="let article"> {{article.emplacement?.libelle}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{actionColumnTitle}}</th>
      <td mat-cell *matCellDef="let article">
        <app-add-supplying-button *ngIf="feature === 'supplying'" [article]="article"></app-add-supplying-button>
        <app-add-missing-barcode-button *ngIf="feature === 'barcodes'" [article]="article"></app-add-missing-barcode-button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

</div>
