<div class="articles-container" *ngIf="dataSource">

  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code</th>
      <td mat-cell *matCellDef="let article"> {{article.code}} </td>
    </ng-container>

    <ng-container matColumnDef="famille">
      <th mat-header-cell *matHeaderCellDef> Famille</th>
      <td mat-cell *matCellDef="let article"> {{article.famille.nom}} </td>
    </ng-container>


    <ng-container matColumnDef="designation">
      <th mat-header-cell *matHeaderCellDef> Désignation</th>
      <td mat-cell *matCellDef="let article"> {{article.designation}} </td>
    </ng-container>

    <ng-container matColumnDef="fournisseur">
      <th mat-header-cell *matHeaderCellDef> Fournisseur</th>
      <td mat-cell *matCellDef="let article"> {{article.fournisseur.nom}} </td>
    </ng-container>


    <ng-container matColumnDef="prix_vente">
      <th mat-header-cell *matHeaderCellDef> Prix</th>
      <td mat-cell *matCellDef="let article"> {{article.prix_vente | currency : 'EUR' : 'symbol' : '1.2' : 'fr' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
