<h2>Rechercher un produit</h2>

<mat-form-field class="search-bar">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechercher un produit">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef> Désignation - Fournisseur</th>
    <td mat-cell *matCellDef="let article">
      <span>{{article.designation}}</span><br><span class="fournisseur">{{article.fournisseur.nom.toLowerCase()}}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="famille">
    <th mat-header-cell *matHeaderCellDef> Fammille</th>
    <td mat-cell *matCellDef="let article">
      <span class="famille">{{article.famille.nom.toLowerCase()}}</span>
    </td>
  </ng-container>


  <ng-container matColumnDef="prix_vente">
    <th mat-header-cell *matHeaderCellDef> Prix</th>
    <td mat-cell *matCellDef="let article"> {{article.prix_vente | currency : 'EUR' : 'symbol' : '1.2' : 'fr' }} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions</th>
    <td mat-cell *matCellDef="let article">
      <button mat-icon-button color="primary" (click)="openSupplyingDialog(article)"
              matTooltip="Ajouter à la liste de réapprovisionnement"
              aria-label="Bouton pour ajouter l'article à la liste de réapprovisionnement">
        <mat-icon>add_shopping_cart</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>

