@import url('https://fonts.googleapis.com/css?family=Raleway%3A400%7Cregular&amp;subset=latin&amp;ver=5.0.4');

body {
  margin: 0;
  padding: 0;
  font: 14px/22px "ralewayregular", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #5C5C5C;
}
